h1 {
	position:absolute;
	left: 45%;
	top: 40%;
	width: 300px;
	height: 300px;
	margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
	margin-top: -50%; /* Cette valeur doit être la moitié négative de la valeur du height */
}

.counter {
	color: white;
}
